@import "../../styles/variables";

.categories-view {
    position: absolute;
    z-index: 3;
    top: 105%;
    right: 22%;
    background-color: white;
    margin: 0;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    font-size: $fm-font-size;
    width: 200px;

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0.4em 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1px;

        li {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 5px 20px 5px 10px;

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.075);
            }

            span:nth-child(1) {
                width: 13px;
            }
        }
    }
}
